@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.title {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  opacity: 0.6;
}
