.canvases {
    /* border: 2px solid red; */

    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    /* width: var(--v); */
    /* height: 500px; */

    z-index: 15;
}