:root {
  --grid: auto auto auto;
  --cv: 200px;
}

#game-components { 
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

.Button-container {
  display: flex;
  flex-direction: row;
  /* margin: auto; */
  position: relative;
  align-items: center;
  justify-content: center;
}