.undo_button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  font-size: 16px;
  margin: 5px;
  /* margin-top: 10px; */
}